body {
    background-color: green;
}

.listado {
    width: 800px;
    margin: 20px;
    padding: 20px;
    border: 4px;
    border-style: solid;
    border-color: rgb(255, 1, 174);
    background-color: black;
    position: absolute;
    top: 150px;
}

.box1 {
    height: 100px;
    width: 320px;
    background-color: aqua;
    color: black;
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 700px;
}